.bloko-header-1 {
  line-height: normal;
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 15px;
  padding: 0;
  font-family: ProximaNovaCond, Arial Narrow, Roboto Condensed, Arial,
    sans-serif;
}
