.bloko-columns-wrapper {
  margin: 0 auto;
  width: 1000px;
  padding: 0 20px;
  box-sizing: border-box;
}
.bloko-columns-row {
  display: inline-block;
  vertical-align: top;
}
.bloko-column {
  box-sizing: border-box;
  width: 80px;
  padding: 0 15px;
  display: inline-block;
  vertical-align: top;
}
.bloko-column_container {
  padding: 0;
}
/* Средний вариант страницы (по умолчанию) */
.bloko-column_m-0 {
  display: none;
}
.bloko-column_m-1 {
  width: 80px;
}
.bloko-column_m-2 {
  width: 160px;
}
.bloko-column_m-3 {
  width: 240px;
}
.bloko-column_m-4 {
  width: 320px;
}
.bloko-column_m-5 {
  width: 400px;
}
.bloko-column_m-6 {
  width: 480px;
}
.bloko-column_m-7 {
  width: 560px;
}
.bloko-column_m-8 {
  width: 640px;
}
.bloko-column_m-9 {
  width: 720px;
}
.bloko-column_m-10 {
  width: 800px;
}
.bloko-column_m-11 {
  width: 880px;
}
.bloko-column_m-12 {
  width: 960px;
}
/* Узкий вариант страницы */
@media (max-width: 1019px) {
  .s-friendly .bloko-columns-wrapper,
  .xs-friendly .bloko-columns-wrapper {
    width: 680px;
  }
  .s-friendly .bloko-column,
  .xs-friendly .bloko-column {
    display: inline-block;
  }
  .s-friendly .bloko-column_s-0,
  .xs-friendly .bloko-column_s-0 {
    display: none;
  }
  .s-friendly .bloko-column_s-1,
  .xs-friendly .bloko-column_s-1 {
    width: 80px;
  }
  .s-friendly .bloko-column_s-2,
  .xs-friendly .bloko-column_s-2 {
    width: 160px;
  }
  .s-friendly .bloko-column_s-3,
  .xs-friendly .bloko-column_s-3 {
    width: 240px;
  }
  .s-friendly .bloko-column_s-4,
  .xs-friendly .bloko-column_s-4 {
    width: 320px;
  }
  .s-friendly .bloko-column_s-5,
  .xs-friendly .bloko-column_s-5 {
    width: 400px;
  }
  .s-friendly .bloko-column_s-6,
  .xs-friendly .bloko-column_s-6 {
    width: 480px;
  }
  .s-friendly .bloko-column_s-7,
  .xs-friendly .bloko-column_s-7 {
    width: 560px;
  }
  .s-friendly .bloko-column_s-8,
  .xs-friendly .bloko-column_s-8 {
    width: 640px;
  }
}
/* Широкий вариант страницы */
@media (min-width: 1340px) {
  .bloko-columns-wrapper {
    width: 1320px;
  }
  .bloko-column {
    display: inline-block;
  }
  .bloko-column_l-0 {
    display: none;
  }
  .bloko-column_l-1 {
    width: 80px;
  }
  .bloko-column_l-2 {
    width: 160px;
  }
  .bloko-column_l-3 {
    width: 240px;
  }
  .bloko-column_l-4 {
    width: 320px;
  }
  .bloko-column_l-5 {
    width: 400px;
  }
  .bloko-column_l-6 {
    width: 480px;
  }
  .bloko-column_l-7 {
    width: 560px;
  }
  .bloko-column_l-8 {
    width: 640px;
  }
  .bloko-column_l-9 {
    width: 720px;
  }
  .bloko-column_l-10 {
    width: 800px;
  }
  .bloko-column_l-11 {
    width: 880px;
  }
  .bloko-column_l-12 {
    width: 960px;
  }
  .bloko-column_l-13 {
    width: 1040px;
  }
  .bloko-column_l-14 {
    width: 1120px;
  }
  .bloko-column_l-15 {
    width: 1200px;
  }
  .bloko-column_l-16 {
    width: 1280px;
  }
}
/* Мобильный вариант cтраницы */
@media (max-width: 699px) {
  .xs-friendly .bloko-columns-wrapper {
    width: 100%;
    padding: 0;
  }
  .xs-friendly .bloko-columns-row {
    width: 100%;
  }
  .xs-friendly .bloko-column {
    display: inline-block;
  }
  .xs-friendly .bloko-column_xs-0 {
    display: none;
  }
  .xs-friendly .bloko-column_xs-1 {
    width: 25%;
  }
  .xs-friendly .bloko-column_xs-2 {
    width: 50%;
  }
  .xs-friendly .bloko-column_xs-3 {
    width: 75%;
  }
  .xs-friendly .bloko-column_xs-4 {
    width: 100%;
  }
}
@media print {
  .bloko-columns-wrapper,
  .xs-friendly .bloko-columns-wrapper,
  .s-friendly .bloko-columns-wrapper {
    width: 100%;
    padding: 0;
  }
  .bloko-columns-row {
    display: table;
    width: 100%;
  }
  .bloko-columns-row .bloko-column {
    display: table-cell;
  }
  .bloko-columns-row .bloko-column_s-8 {
    width: 100%;
  }
  .bloko-columns-row .bloko-column_s-7 {
    width: 87.5%;
  }
  .bloko-columns-row .bloko-column_s-6 {
    width: 75%;
  }
  .bloko-columns-row .bloko-column_s-5 {
    width: 62.5%;
  }
  .bloko-columns-row .bloko-column_s-4 {
    width: 50%;
  }
  .bloko-columns-row .bloko-column_s-3 {
    width: 37.5%;
  }
  .bloko-columns-row .bloko-column_s-2 {
    width: 25%;
  }
  .bloko-columns-row .bloko-column_s-1 {
    width: 12.5%;
  }
}
.bloko-print .bloko-columns-wrapper,
.bloko-print .xs-friendly .bloko-columns-wrapper,
.bloko-print .s-friendly .bloko-columns-wrapper {
  width: 100%;
  padding: 0;
}
.bloko-print .bloko-columns-row {
  display: table;
  width: 100%;
}
.bloko-print .bloko-columns-row .bloko-column {
  display: table-cell;
}
.bloko-print .bloko-columns-row .bloko-column_s-8 {
  width: 100%;
}
.bloko-print .bloko-columns-row .bloko-column_s-7 {
  width: 87.5%;
}
.bloko-print .bloko-columns-row .bloko-column_s-6 {
  width: 75%;
}
.bloko-print .bloko-columns-row .bloko-column_s-5 {
  width: 62.5%;
}
.bloko-print .bloko-columns-row .bloko-column_s-4 {
  width: 50%;
}
.bloko-print .bloko-columns-row .bloko-column_s-3 {
  width: 37.5%;
}
.bloko-print .bloko-columns-row .bloko-column_s-2 {
  width: 25%;
}
.bloko-print .bloko-columns-row .bloko-column_s-1 {
  width: 12.5%;
}
